<%- include("./partials/head.ejs") %>
<%- include("./partials/nav.ejs") %>

<h2>Current Available Matches</h2>
<ul class="list-group">
    <li class="list-group-item list-group-item-primary">This is a primary list group item</li>
    
</ul>