<%- include("./partials/head.ejs") %>
<%- include("./partials/nav.ejs") %>


<div class="list-group d-flex flex-wrap align-content-center"  >
<form action="/matches/add_match" method="POST">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Home Team</label>
        <input type="text" class="form-control" id="homeTeam" name="homeTeam">
      </div>
      <div class="form-group col-md-6">
        <label for="inputCity">Away Team</label>
        <input type="text" class="form-control" id="awayTeam" name="awayTeam">
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">Referee</label>
            <input type="text" class="form-control" id="rederee" name="referee">
        </div>
        <div class="form-group col-md-6">
            <label for="inputCity">Stadium</label>
            <input type="text" class="form-control" id="stadium" name="stadium">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">Stadium Width</label>
            <input type="number" class="form-control" id="stadWidth" name="stadWidth">
        </div>
        <div class="form-group col-md-6">
            <label for="inputCity">Stadium Height</label>
            <input type="number" class="form-control" id="stadHeight" name="stadHeight">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">1st Lineman</label>
            <input type="text" class="form-control" id="stadium" name="linemanFirst">
        </div>
        <div class="form-group col-md-6">
            <label for="inputCity">2nd Lineman</label>
            <input type="text" class="form-control" id="stadium" name="linemanSecond">
        </div>        
    </div>

    <button type="submit" class="btn btn-success">Create</button>
</div>
